@import "../../styles/Mixin.scss";
@import "../../styles/Variables.scss";

.main{
    width: 100%;
    height: fit-content;

    padding: 0 100px;
    @include flexbox(column,start,center);
    

    .productsContainer{
        padding: 32px 0;
        @include flexbox(row,center,start);
        flex-wrap: wrap;
        column-gap: 32px;
        row-gap: 32px;
    }

    &>button{
        width: 245px;
        height: 48px;
        border: 1px solid $accent-orange;
        color: $accent-orange;
        transition: all 300ms;

        &:hover{
            background-color: $accent-orange;
            color: $white;
        }
    }
}