//colors
$white: #ffffff;
$accent-orange: #e89f71;
$background-orange: #fcf8f3;
$dark: #3a3a3a;
$black: #000000;
$red: #e97171;
$green: #2ec1ac;
$background-grey: #f4f5f7;
$text-grey: #898989;
$grey: #d8d8d8;
